# Ignore Gradle build files
.gradle/
build/
bin/
out/

# Ignore Gradle wrapper files, nhưng vẫn giữ gradle-wrapper.jar
gradle/
!gradle/wrapper/gradle-wrapper.jar

# Ignore IDE-specific files
### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Visual Studio Code ###
.vscode/

# Ignore local environment config
*.env
*.properties
*.yml

# Ignore compiled files
*.class
*.jar
*.war
*.ear
